
// Cor Background
$bg-primary: #003333;
$green-dark: #044a27;
$green-dark-two: #17AA61;
$gradient-green: rgba(23, 170, 97, 0.60);
$gradient-green-two: linear-gradient(0deg, #17D460 0%, #17D460 100%), #F5F5F5;
$primary-color: #093F45;
$secondary-color: #17bd57;







// Cores de Texto
$text-gray: #7E818A;
$text-gray-2: #3F3F3F;
$gradient-span: linear-gradient(90deg, #FFF 25.64%, #17D460 52.77%);
$color-green: #17bd57;
$color-complementar-principal: #63cc96;

